@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat',sans-serif;
}
:root{
    --primary-color:#438a91;
    
}
.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}
.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: white;
   
}
.navigation .link-active{
    font-weight: bold;
}
.hero{
    padding:2rem;
}
.heros-container .heros {
    max-width: 350px;
    display: block;
    margin: auto;
}
  .heading {
    text-align: center;
    padding-top: 1rem;
}
  
  .heading h3 {
    font-size: 1.45rem;
    font-weight: bold;
 }
 .heading p {
    font-size: 1rem;
}
.technology{
    background-color: #BADFE7;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.two h4 {
    color: #333D79FF;
  
    padding: 0 0.5rem;
  }
